In [1]:
'''A backorder is an order for a good or service that cannot be filled at the current time due to a lack of available supply. The item may not be held in the company's available inventory but could still be in production, or the company may need to still manufacture more of the product.
The backorder is an indication that demand for a company's product outweighs its supply. They may also be known as the company's backlog. Also, company cannot overstock every product in their inventory to avoid such situation.'''

"A backorder is an order for a good or service that cannot be filled at the current time due to a lack of available supply. The item may not be held in the company's available inventory but could still be in production, or the company may need to still manufacture more of the product.\nThe backorder is an indication that demand for a company's product outweighs its supply. They may also be known as the company's backlog. Also, company cannot overstock every product in their inventory to avoid such situation."

In [2]:
import pandas as pd
import numpy as np

In [3]:
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials


# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [4]:

link = 'https://drive.google.com/file/d/16UtBhswBjAGTcTf9CaeqI2nytE-LE5TV/view?usp=sharing'

import pandas as pd

# to get the id part of the file
id = link.split("/")[-2]

downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('internship_dataset.csv')

df = pd.read_csv('internship_dataset.csv')
print(df)

<ipython-input-4-96bc25685953>:11: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('internship_dataset.csv')

                    sku  national_inv  lead_time  in_transit_qty  \
0               1026827           0.0        NaN             0.0
1               1043384           2.0        9.0             0.0
2               1043696           2.0        NaN             0.0
3               1043852           7.0        8.0             0.0
4               1044048           8.0        NaN             0.0
...                 ...           ...        ...             ...
1687856         1373987          -1.0        NaN             0.0
1687857         1524346          -1.0        9.0             0.0
1687858         1439563          62.0        9.0            16.0
1687859         1502009          19.0        4.0             0.0
1687860  (1687860 rows)           NaN        NaN             NaN

         forecast_3_month  forecast_6_month  forecast_9_month  sales_1_month  \
0                     0.0               0.0               0.0            0.0
1                     0.0               0.0               0.0            0.0
2                     0.0               0.0               0.0            0.0
3                     0.0               0.0               0.0            0.0
4                     0.0               0.0               0.0            0.0
...                   ...               ...               ...            ...
1687856               5.0               7.0               9.0            1.0
1687857               7.0               9.0              11.0            0.0
1687858              39.0              87.0             126.0           35.0
1687859               0.0               0.0               0.0            2.0
1687860               NaN               NaN               NaN            NaN

         sales_3_month  sales_6_month  ...  pieces_past_due  perf_6_month_avg  \
0                  0.0            0.0  ...              0.0            -99.00
1                  0.0            0.0  ...              0.0              0.99
2                  0.0            0.0  ...              0.0            -99.00
3                  0.0            0.0  ...              0.0              0.10
4                  0.0            0.0  ...              0.0            -99.00
...                ...            ...  ...              ...               ...
1687856            3.0            3.0  ...              0.0            -99.00
1687857            8.0           11.0  ...              0.0              0.86
1687858           63.0          153.0  ...              0.0              0.86
1687859            7.0           12.0  ...              0.0              0.73
1687860            NaN            NaN  ...              NaN               NaN

        perf_12_month_avg  local_bo_qty  deck_risk  oe_constraint  ppap_risk  \
0                  -99.00           0.0         No             No         No
1                    0.99           0.0         No             No         No
2                  -99.00           0.0        Yes             No         No
3                    0.13           0.0         No             No         No
4                  -99.00           0.0        Yes             No         No
...                   ...           ...        ...            ...        ...
1687856            -99.00           1.0         No             No         No
1687857              0.84           1.0        Yes             No         No
1687858              0.84           6.0         No             No         No
1687859              0.78           1.0         No             No         No
1687860               NaN           NaN        NaN            NaN        NaN

        stop_auto_buy rev_stop went_on_backorder
0                 Yes       No                No
1                 Yes       No                No
2                 Yes       No                No
3                 Yes       No                No
4                 Yes       No                No
...               ...      ...               ...
1687856           Yes       No                No
1687857            No       No               Yes
1687858           Yes       No                No
1687859           Yes       No                No
1687860           NaN      NaN               NaN

[1687861 rows x 23 columns]

In [5]:
df.shape    #so much big ammount of data

(1687861, 23)

In [6]:
df.head(5)

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1026827,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,No,No,No,Yes,No,No
1,1043384,2.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.99,0.99,0.0,No,No,No,Yes,No,No
2,1043696,2.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No
3,1043852,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.10,0.13,0.0,No,No,No,Yes,No,No
4,1044048,8.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No

sku: It is a random ID assigned to each product. This column is used for identification purposes.

national_inv: This column represents the current inventory level of the product, indicating how many units are available in stock.

lead_time: It refers to the transit time for the product, indicating the time taken for the product to be delivered if available.

in_transit_qty: This column represents the quantity of the product that is currently in transit from the source to the destination.

forecast_3_month: It indicates the forecasted sales quantity for the next 3 months for the specific product.

forecast_6_month: Similar to the previous column, it represents the forecasted sales quantity for the next 6 months.

forecast_9_month: This column indicates the forecasted sales quantity for the next 9 months.

sales_1_month: It represents the actual sales quantity for the prior 1 month time period.

sales_3_month: This column indicates the actual sales quantity for the prior 3 month time period.

sales_6_month: Similar to the previous column, it represents the actual sales quantity for the prior 6 month time period.

sales_9_month: This column indicates the actual sales quantity for the prior 9 month time period.

min_bank: It represents the minimum recommended amount of stock for the specific product.

potential_issue: This column identifies the source issue for the part, indicating whether there are any potential issues associated with it.

pieces_past_due: It represents the number of parts that are overdue from the source.

perf_6_month_avg: This column indicates the source performance for the prior 6-month period.

perf_12_month_avg: Similar to the previous column, it represents the source performance for the prior 12-month period.

local_bo_qty: It indicates the amount of stock orders that are currently overdue.

deck_risk: This column represents a part risk flag, indicating whether the specific part is at risk.

oe_constraint: Similar to the previous column, it represents a part risk flag, indicating whether there are any constraints associated with the part.

ppap_risk: This column represents a part risk flag, indicating whether there is a risk associated with the part.

stop_auto_buy: Similar to the previous column, it represents a part risk flag, indicating whether there is a need to stop auto-buy for the part.

rev_stop: This column represents a part risk flag, indicating whether there is a revenue stop associated with the part.

went_on_backorder: This is the target column you mentioned. It indicates whether the product actually went on backorder or not. It is the value you want to predict using the other columns as features.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1687861 entries, 0 to 1687860
Data columns (total 23 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   sku                1687861 non-null  object
 1   national_inv       1687860 non-null  float64
 2   lead_time          1586967 non-null  float64
 3   in_transit_qty     1687860 non-null  float64
 4   forecast_3_month   1687860 non-null  float64
 5   forecast_6_month   1687860 non-null  float64
 6   forecast_9_month   1687860 non-null  float64
 7   sales_1_month      1687860 non-null  float64
 8   sales_3_month      1687860 non-null  float64
 9   sales_6_month      1687860 non-null  float64
 10  sales_9_month      1687860 non-null  float64
 11  min_bank           1687860 non-null  float64
 12  potential_issue    1687860 non-null  object
 13  pieces_past_due    1687860 non-null  float64
 14  perf_6_month_avg   1687860 non-null  float64
 15  perf_12_month_avg  1687860 non-null  float64
 16  local_bo_qty       1687860 non-null  float64
 17  deck_risk          1687860 non-null  object
 18  oe_constraint      1687860 non-null  object
 19  ppap_risk          1687860 non-null  object
 20  stop_auto_buy      1687860 non-null  object
 21  rev_stop           1687860 non-null  object
 22  went_on_backorder  1687860 non-null  object
dtypes: float64(15), object(8)
memory usage: 296.2+ MB

In [8]:
#checking null values
df.isnull().sum()

sku                       0
national_inv              1
lead_time            100894
in_transit_qty            1
forecast_3_month          1
forecast_6_month          1
forecast_9_month          1
sales_1_month             1
sales_3_month             1
sales_6_month             1
sales_9_month             1
min_bank                  1
potential_issue           1
pieces_past_due           1
perf_6_month_avg          1
perf_12_month_avg         1
local_bo_qty              1
deck_risk                 1
oe_constraint             1
ppap_risk                 1
stop_auto_buy             1
rev_stop                  1
went_on_backorder         1
dtype: int64

In [9]:
#so many null values present in lead time fillng them by mean
df['lead_time'].mean()

7.872267035168343

In [10]:
df['lead_time']=df['lead_time'].fillna(7.87)

In [11]:
df['lead_time'].isnull().sum()

0

In [12]:
df.isnull().sum().sum()

21

In [13]:
rows_with_null = df[df.isnull().any(axis=1)]

# Get the row indices with null values
row_indices = rows_with_null.index

# Remove the rows with null values
df_cleaned = df.drop(row_indices, axis=0)

# Verify the shape of the cleaned dataset
print(df_cleaned.shape)

(1687860, 23)

In [14]:
df_cleaned.head()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1026827,0.0,7.87,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,No,No,No,Yes,No,No
1,1043384,2.0,9.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.99,0.99,0.0,No,No,No,Yes,No,No
2,1043696,2.0,7.87,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No
3,1043852,7.0,8.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.10,0.13,0.0,No,No,No,Yes,No,No
4,1044048,8.0,7.87,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No

In [15]:
df_cleaned.isnull().sum()  # data is fully cleaned

sku                  0
national_inv         0
lead_time            0
in_transit_qty       0
forecast_3_month     0
forecast_6_month     0
forecast_9_month     0
sales_1_month        0
sales_3_month        0
sales_6_month        0
sales_9_month        0
min_bank             0
potential_issue      0
pieces_past_due      0
perf_6_month_avg     0
perf_12_month_avg    0
local_bo_qty         0
deck_risk            0
oe_constraint        0
ppap_risk            0
stop_auto_buy        0
rev_stop             0
went_on_backorder    0
dtype: int64

In [16]:
categorical_cols = ["potential_issue", "deck_risk", "oe_constraint", "ppap_risk", "stop_auto_buy", "rev_stop", "sku"]
mapping_dict = {
    "potential_issue": {"No": 0, "Yes": 1},
    "deck_risk": {"No": 0, "Yes": 1},
    "oe_constraint": {"No": 0, "Yes": 1},
    "ppap_risk": {"No": 0, "Yes": 1},
    "stop_auto_buy": {"No": 0, "Yes": 1},
    "rev_stop": {"No": 0, "Yes": 1},
    "went_on_backorder": {"No": 0, "Yes": 1}
}
df_cleaned.replace(mapping_dict, inplace=True)

In [17]:
df_cleaned.head()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1026827,0.0,7.87,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,0,0,0,1,0,0
1,1043384,2.0,9.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.99,0.99,0.0,0,0,0,1,0,0
2,1043696,2.0,7.87,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,1,0,0,1,0,0
3,1043852,7.0,8.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.10,0.13,0.0,0,0,0,1,0,0
4,1044048,8.0,7.87,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,1,0,0,1,0,0

In [18]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1687860 entries, 0 to 1687859
Data columns (total 23 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   sku                1687860 non-null  object
 1   national_inv       1687860 non-null  float64
 2   lead_time          1687860 non-null  float64
 3   in_transit_qty     1687860 non-null  float64
 4   forecast_3_month   1687860 non-null  float64
 5   forecast_6_month   1687860 non-null  float64
 6   forecast_9_month   1687860 non-null  float64
 7   sales_1_month      1687860 non-null  float64
 8   sales_3_month      1687860 non-null  float64
 9   sales_6_month      1687860 non-null  float64
 10  sales_9_month      1687860 non-null  float64
 11  min_bank           1687860 non-null  float64
 12  potential_issue    1687860 non-null  int64
 13  pieces_past_due    1687860 non-null  float64
 14  perf_6_month_avg   1687860 non-null  float64
 15  perf_12_month_avg  1687860 non-null  float64
 16  local_bo_qty       1687860 non-null  float64
 17  deck_risk          1687860 non-null  int64
 18  oe_constraint      1687860 non-null  int64
 19  ppap_risk          1687860 non-null  int64
 20  stop_auto_buy      1687860 non-null  int64
 21  rev_stop           1687860 non-null  int64
 22  went_on_backorder  1687860 non-null  int64
dtypes: float64(15), int64(7), object(1)
memory usage: 296.2+ MB

In [19]:
corr_mat = df_cleaned.corr()
corr_with_target = corr_mat['went_on_backorder']
print(corr_with_target)

<ipython-input-19-4330265f1bc0>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_mat = df_cleaned.corr()

national_inv        -0.001315
lead_time           -0.018056
in_transit_qty      -0.002427
forecast_3_month    -0.000340
forecast_6_month    -0.000840
forecast_9_month    -0.001030
sales_1_month       -0.001131
sales_3_month       -0.001512
sales_6_month       -0.001728
sales_9_month       -0.001764
min_bank            -0.001867
potential_issue      0.014090
pieces_past_due      0.000516
perf_6_month_avg     0.011676
perf_12_month_avg    0.011593
local_bo_qty         0.009504
deck_risk           -0.011691
oe_constraint        0.003837
ppap_risk            0.008814
stop_auto_buy       -0.002424
rev_stop            -0.001708
went_on_backorder    1.000000
Name: went_on_backorder, dtype: float64

In [38]:
#feature selection
features = ['national_inv','lead_time','pieces_past_due','perf_6_month_avg','in_transit_qty','local_bo_qty',
               'deck_risk','oe_constraint','ppap_risk','stop_auto_buy','rev_stop','went_on_backorder' ]

In [39]:
df_new=df_cleaned[features]

In [40]:
df_new.head()

,national_inv,lead_time,pieces_past_due,perf_6_month_avg,in_transit_qty,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,0.0,7.87,0.0,-99.00,0.0,0.0,0,0,0,1,0,0
1,2.0,9.00,0.0,0.99,0.0,0.0,0,0,0,1,0,0
2,2.0,7.87,0.0,-99.00,0.0,0.0,1,0,0,1,0,0
3,7.0,8.00,0.0,0.10,0.0,0.0,0,0,0,1,0,0
4,8.0,7.87,0.0,-99.00,0.0,0.0,1,0,0,1,0,0

In [41]:
df_new.to_csv("prepaired_data.csv")

In [42]:
from google.colab import files
files.download("prepaired_data.csv")